QLabel#info{
    font-size:14px;
    font-family:"微软雅黑";
}

QWidget#error{
    background-color:white;
    border:1px solid gray;
    border-radius:2px;
}

QLabel#icon{
    background-image:url(images/error.png);
    background-position:center;
    background-repeat:none;
    border:None;
}